.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

.cards .card{
    width: calc(50% - .5em);
}

@media screen and (max-width: 1024px){
    .cards .card{
        width: 100%;
    }
}
